td {
    padding: 10px;
    vertical-align: top;
}

.underline::after {
    content: "";
    display: block;
    width: 50px;
    padding-top: 0px;
    border-bottom: 5px solid rgb(0, 51, 128);
}     


.icons {
    justify-content: space-around;
}
.btn {
    height: 40px;
    line-height: 25px;
}



.col-md-3 {
    font-size: 12px;
}

.mb-0 {
    font-size: 12px;
}

.col-12 col-sm-3 {
    font-size: 12px;
}

.title {
    font-size: 12px;
    color: white;
    margin-top: 10px;
    
}

.firstfooter {
    background-color: #EBF2FB;
}

.midfooter {
    margin-top: 5px;
    background-color:#1e2f41;
    padding: 0 100px;
    margin-left: -20px;
    margin-right: -10px;
}

.lastfooter{
    background-color:black;
    color: white;
    line-height: 10px;
    margin-left: -20px;
   
    
}
