
.container .row .col-md-3 p,h5{
 color: red;
 
}
.body {
 
  text-align: auto;
  padding-top:50px;
}

.head{
  background-color:blue;
  color: blue;


  display: block;
  font: 13px Helvetica, Tahoma, serif;
  text-transform: uppercase;
  margin: 0px; 
  padding:0px;
  
}

.head li {
  display: inline-block;
  list-style: none;
  background:blue;
  
}

.head .button-dropdown {
  position: relative;
  background:blue;
}

.head li a {
  display: block;
  color:blue;
  background-color:blue;
  color:white;
  padding:10px 20px;
  text-decoration: none;

}

.head > li a span {
  display: inline-block;
  margin-left: 5px;
  font-size: 10px;
  color: blue;
  
}

.head > li a:hover, .head li a.dropdown-toggle.active {
  background-color:red;
  color:blue;
  
}

.head > li a:hover span, .head li a.dropdown-toggle.active span {
  color: red;
}

.head li .dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  padding: 0;
  margin: 0;
  margin-top: 3px;
  text-align: left;
}

.head li .dropdown-menu.active {
  display: block;
}

.head li .dropdown-menu a {
  width: 150px;
  
}





  .topbar .row .d-flex{
    justify-content: space-around;
  }


 #search-button{
    color:white;
    font-size:10px;
    height:4em;
    }


    

    marquee {
       background-color:white;
        justify-content: space-between;
       
    }

    .wrapper{

      margin:auto;
  



    }
  
  
  





    